* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.loader:hover {
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4;
}